[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/danibma/imgui.git
[submodule "external/yaml-cpp"]
	path = external/yaml-cpp
	url = https://github.com/danibma/yaml-cpp.git
